<div class="bottom">
  <div class="btn">
  <div class="icon-arrow-left" id="goback"><span class="visuallyhidden">Previous Page</span></div>
  <div class="icon-out" id="showShare"><span class="visuallyhidden">Share</span></div>
  <div class="icon-list" id="showText"><span class="visuallyhidden">Show Text Version</span></div>
  <div class="icon-arrow-right" id="goforward"><span class="visuallyhidden">Next Page</span></div>
  </div>
<div class="hide-btn icon-minus"><span class="visuallyhidden">Hide Menu</span></div></div>
<div class="hidden"><span class="icon-plus"><span class="visuallyhidden">Show Menu</span></span></div>

