<div class="bottom">
  <div class="btn">
  <div class="icon-arrow-left" id="goback"><span class="visuallyhidden">Previous Page</span></div>
  <div class="icon-out" id="showShare"><span class="visuallyhidden">Share</span></div>
  <div class="icon-minus" id="thumbnail-toggle"><span class="visuallyhidden">Hide Thumbs</span></div>
  <div class="icon-list" id="showText"><span class="visuallyhidden">Show Text Version</span></div>
  <div class="icon-arrow-right" id="goforward"><span class="visuallyhidden">Next Page</span></div>
</div>

