<nav id="thumb-nav-wrap">
  <ul id="thumb-nav">
    <li><a  href="/"><img src="/images/1.jpg"/></a></li>
    <li><a href="editorsnote"><img src="/images/2.jpg"/></li>
    <li><a href="ad1"><img src="/images/3.jpg"/></li>
    <li><a href="ad2"><img src="/images/6.jpg"/></li>
    <li><a href="what1"><img src="/images/7.jpg"/></li>
    <li><a href="what2"><img src="/images/8.jpg"/></li>
    <li><a href="dcaptiater"><img src="/images/9.jpg"/></li>
    <li><a href="barage1"><img src="/images/10.jpg"/></li>
    <li><a href="barage2"><img src="/images/11.jpg"/></li>
    <li><a href="barage3"><img src="/images/12.jpg"/></li>
    <li><a href="barage4"><img src="/images/13.jpg"/></li>
  </ul>
  <div id="thumb-menu">
    <p class="icon-minus" id="thumbnail-toggle"><span class="visuallyhidden">Hide Thumbs</span></p>
  </div>
</nav>