
<div data-role="page" class="demo-page" id="ad1" data-dom-cache="true" style="background-color:#ffffff !important;" data-metatitle="BAR Magazine: Sponsored Message" data-prev="toc2" data-next="what1">
        <div class="pageContent">
        <h3>Sposored Message</h3>
        <p>&nbsp;</p>
        </div><!-- End pageContent -->
 <div data-role="content"> <a href="http://fireballwhisky.com" target="_blank"><img src="images/BAR-Issue001-pilot-5.jpg" width="768" height="1024" border="0"/></a>
 </div>

