<div data-role="page" class="demo-page c1" id="ad2" data-dom-cache="true"
  data-metatitle="BAR Magazine: Sponsored Message" data-prev="uniform2" data-next=
  "pizza1">
    <div class="pageContent">
      <h3>Sponsored Message</h3>

      <p>&nbsp;</p>
    </div><!-- End pageContent -->

    <div data-role="content">
      <a href="http://aviationgin.com" target="_blank"><img src=
      "images/BAR-Issue001-pilot-18.jpg" width="768" height="1024" border="0"></a>
    </div>
  </div>