<div data-role="page" class="demo-page c1" id="barage1" data-dom-cache="true"
  data-metatitle="BAR Magazine: The Best Bar in the World" data-prev="dcapitator"
  data-next="barage2">
    <div class="pageContent">
      <h3>The Best Bar in the World: The Barage</h3>

      <h4>Joe Brooke explains why the best bar is the one your friends are in.</h4>

      <p>There are lots of homes bars, few if any boast a collection of over 100 rare
      bottles and can be credited with some of the best cocktails on the west coast. Then
      again, few are owned by Joe Brooke. One of the top mixologists in the country, Joe
      holds a list of accolades that includes winner of NBC&rsquo;s On The Rocks,
      LA&rsquo;s Best Bartender 2011 and regular expert on Spike TV&rsquo;s Bar
      Rescue...</p>

      <p>&nbsp;</p>
    </div><!-- End pageContent -->

    <div data-role="content"><img src="images/BAR-Issue001-pilot-9.jpg" width="768"
    height="1024" border="0"></div>
</div>