<div data-role="page" class="demo-page c1" id="barage4" data-dom-cache="true"
  data-metatitle="BAR Magazine: The Best Bar in the World" data-prev="barage3" data-next=
  "bartendercorner">
    <div class="pageContent">
      <h3>Sidebar: The Rant</h3>

      <p>Customers who ask for diet tonic. No bar in existence carries diet tonic water.
      Not even sure that is an actual product. And to save you the trouble, we also
      don&rsquo;t have root beer, apple juice or diet Dr. Pepper.</p>

      <p>Watch Joe Brooke make this rye manhattan on Instagram <a href=
      "http://instagram.com/fortheindustry" target="_blank">@fortheindustry</a></p>

      <p>&nbsp;</p>
    </div><!-- End pageContent -->

    <div data-role="content">
      <img src="images/BAR-Issue001-pilot-12.jpg" width="768" height="1024" usemap="#Map"
      border="0"> <map name="Map" id="Map">
        <area shape="rect" coords="323,265,751,332" href=
        "http://instagram.com/fortheindustry" target="_blank" onclick="blur();">
      </map>
    </div>
</div>