<div data-role="page" class="demo-page c1" id="barage3" data-dom-cache="true"
  data-metatitle="BAR Magazine: The Best Bar in the World" data-prev="barage2" data-next=
  "barage4">
    <div class="pageContent">
      <p>There are lots of homes bars, few if any boast a collection of over 100 rare
      bottles and can be credited with some of the best cocktails on the west coast. Then
      again, few are owned by Joe Brooke. One of the top mixologists in the country, Joe
      holds a list of accolades that includes winner of NBC&rsquo;s On The Rocks, LA's
      Best Bartender 2011 and regular expert on Spike TV's Bar Rescue.</p>

      <p>His "Barage" began with a simple dream shared by most if not all bartenders, to
      have a bar in his house. A place to entertain, train and quite frankly "get up to
      no good."</p>

      <p>Unfortunately, living in some of the finest shoeboxes of Manhattan and Hollywood
      for most of the past decade, he could never manage more than a bar / kitchen
      counter / dinner table, a situation in which it became increasingly difficult to
      house his ever expanding liquor collection.</p>

      <p>It wasn&rsquo;t until he exchanged his apartment for a house in Mid City that
      the possibility of fulfilling this dream became a reality. With a separate garage
      that was used as a gym by the previous owner, a home bar was now not only an option
      ... but practically an obligation as this "venue" could not only exist, but do so
      without completely compromising the sanctity of his home.</p>

      <p>This was of course tremendously appealing to Joe&rsquo;s wife Jennifer. Not the
      bar so much as getting the bar and its unruly guests (and manager) out of the house
      during operation.</p>

      <p>Taking cues from the craftsman style of the home, which was built in 1914, Joe
      sourced mahogany and red oak for both the bar and wainscoting. He also rewired the
      entire space, a process that took a little over a year. The culmination was a
      unique room that is not only perfect for entertaining, but pursuing his own
      mixology efforts and training his many pupils, effectively serving as a home
      office.</p>

      <p>While not the highest profile venue in Los Angeles, an argument could be made
      that it is the most exclusive.</p>

      <p>Good luck getting on this guest list ...</p>

      <p>&nbsp;</p>
    </div><!-- End pageContent -->

    <div data-role="content"><img src="images/BAR-Issue001-pilot-11.jpg" width="768"
    height="1024" border="0"></div>
</div>