<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta property="og:description" content="Bar and Restaurant Magazine taps top industry professionals, celebrity chefs, and up-and-coming restauranteurs for trade secrets, life lessons, and an insiders' scoop on the latest happenings, best practices, and must have new products for the service industry." />
<meta property="og:title" content="BAR Magazine: Issue 001"/>
<meta property="og:image" content="http://bandr.com/issue001/images/cover-thumb.jpg"/>
<meta property="og:url" content="http://bandr.com/issue001/dcapitator.html"/>

<title>BAR Magazine</title>
<link rel="stylesheet" href="main.css">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css" />
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="swipe-page.js"></script>
<script src="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js"></script>
<script src="jquery.rwdImageMaps.min.js"></script>

</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=265323653621134";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="warning">This page can only be viewed in Portrait Orientation</div>
<div class="big-page"></div>
<div class="hidden"><span class="icon-plus"><span class="visuallyhidden">Show Menu</span></span></div>
<div class="sharebox"><a href="#" target="_blank" class="fblink"><span class="icon-facebook"></span> Share on Facebook</a>
<a href="#" class="twitterlink" target="_blank"><span class="icon-twitter"></span> Share on Twitter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
<div class="bottom">
<div class="btn">
<div class="icon-arrow-left" id="goback"><span class="visuallyhidden">Previous Page</span></div>
<div class="icon-out" id="showShare"><span class="visuallyhidden">Share</span></div>
<div class="icon-list" id="showText"><span class="visuallyhidden">Show Text Version</span></div>
<div class="icon-arrow-right" id="goforward"><span class="visuallyhidden">Next Page</span></div>
</div>
<div class="hide-btn icon-minus"><span class="visuallyhidden">Hide Menu</span></div></div>

<div data-role="page" class="demo-page" id="dcapitator" data-dom-cache="true" style="background-color:#202020 !important;" data-metatitle="BAR Magazine: How Did We Live Without It?" data-prev="what2" data-next="barage1">
        <div class="pageContent">
        <h3>How Did We Live Without It: The D-Capitator</h3>
<h4>There is no reason not to use the first ever hand strap bottle opener</h4>

<p>The D-Capitator was conceived when creator Darryl Phelps noticed a local bartender repeatedly searching for their bar key during a shift. That moment ignited two years of tests and prototypes, culminating in the first ever hand strap bottle opener. </p>

<p>The product is as simple as it is useful, with the ergonomic bands affixing a lever directly to the user’s palm. The result is a bottle opener that bartenders can literally keep on-hand while carrying out all other essential functions (pouring, cash handling, etc).</p>

<p>Engineered for performance, bottle caps need only be slightly hooked in order to break their seal, requiring no more than a pound of pressure. The result is faster opening by a 3:1 ratio. Not to mention the time and money saved by never again losing or misplacing your bar key.</p>

<p>Weighing less than an ounce The D-Capitator becomes unnoticeable when worn. And with the construction combining die-cast aluminum with polyester webbing that is both antimicrobial and mildew resistant - your health inspector will like it too. 
</p>
        <p>&nbsp;</p>
        </div><!-- End pageContent -->
 <div data-role="content">
            <img src="images/BAR-Issue001-pilot-8.jpg" width="768" height="1024" border="0"/>
 </div>
 </div><!-- END page -->
 


</body>
</html>
