<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta property="og:description" content="Bar and Restaurant Magazine taps top industry professionals, celebrity chefs, and up-and-coming restauranteurs for trade secrets, life lessons, and an insiders' scoop on the latest happenings, best practices, and must have new products for the service industry." />
<meta property="og:title" content="BAR Magazine: Issue 001"/>
<meta property="og:image" content="http://bandr.com/issue001/images/cover-thumb.jpg"/>
<meta property="og:url" content="http://bandr.com/issue001/editorsnote.html"/>

<title>BAR Magazine</title>
<link rel="stylesheet" href="main.css">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css" />
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="swipe-page.js"></script>
<script src="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js"></script>
<script src="jquery.rwdImageMaps.min.js"></script>

</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=265323653621134";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="warning">This page can only be viewed in Portrait Orientation</div>
<div class="big-page"></div>
<div class="hidden"><span class="icon-plus"><span class="visuallyhidden">Show Menu</span></span></div>
<div class="sharebox"><a href="#" target="_blank" class="fblink"><span class="icon-facebook"></span> Share on Facebook</a>
<a href="#" class="twitterlink" target="_blank"><span class="icon-twitter"></span> Share on Twitter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
<div class="bottom">
<div class="btn">
<div class="icon-arrow-left" id="goback"><span class="visuallyhidden">Previous Page</span></div>
<div class="icon-out" id="showShare"><span class="visuallyhidden">Share</span></div>
<div class="icon-list" id="showText"><span class="visuallyhidden">Show Text Version</span></div>
<div class="icon-arrow-right" id="goforward"><span class="visuallyhidden">Next Page</span></div>
</div>
<div class="hide-btn icon-minus"><span class="visuallyhidden">Hide Menu</span></div></div>

<div data-role="page" class="demo-page" id="editorsnote" data-title="BAR Magazine: Editor's Note" data-dom-cache="true" style="background-color:#ffffff !important;" data-metatitle="BAR Magazine: Editor&#39;s Note" data-prev="index" data-next="toc1">
        <div class="pageContent">
        <h3>“You are starting a magazine for the service industry … Why?” </h3>
        <p>It was funny how often we came across with this sentiment over the last year. If not stated directly then implied. But while it is true that there are literally hundreds of service industry magazines out there, our design editor Elliot and I saw a niche … if you can call it that.
        </p><p>
        Because it seems the only group left out of these publications was everyone.</p><p>
        Sure there are dozens of monthlies for sommeliers, foodies, mixologists and all the rest, but what about the 99% of industry people who do not fall into one of these categories? I am referring to the everyday employees, operators and patrons who make this industry go.</p><p>
        This is for them, and this is for you … all of you. Because while our content is confined to the industry our readers are not, and I challenge anyone to find someone that does not enjoy bars and restaurants in some capacity.</p><p>
        And to all of you who are members of the niche categories listed above, remember that while every member of the service industry is not a sommelier, every sommelier is a member of the service industry.</p><p>
        So enjoy, thanks for reading and please feel free to help us grow by sharing.</p><p>
        Cheers,<br />
        William Fanning</p>
        <p>
        BAR would also like to thank the following individuals:<br />
        Trevor Hewitt - Pizza Rock<br />
        Shannon Mengel & John Fogal - the The Las Vegas Rescue Mission<br />
        Jim Kleiss - Tommy Rocker’s<br />
        Jolene Mannina - Back of the House Brawl<br />
        Jason Adimoolah - The D<br />
        Jason Hallikainen, John Wood & Chaz Mulkey - Syndicate MMA<br />
        Scottie Godino & Jason Saylor at Born And Raised<br />
        Greg Bird - LA & SF Specialty<br />
        Chef Shirley Chung<br />
        Tom Portanova - Sin City Dogs<br />
        Laurie Dorough - The Gold Spike<br />
        Justin Meigs - Fireball<br />
        Ryan Magarian - Aviation Gin<br />
        </p>
        <p>&nbsp;</p>
        </div><!-- End pageContent -->
 <div data-role="content">
            <img src="images/BAR-Issue001-pilot-2.jpg" width="768" height="1024" border="0"/>
 </div>
 </div><!-- END page -->
 


</body>
</html>
