
<div data-role="page" class="demo-page" id="index" data-dom-cache="true" style="background-color:#000000 !important;" data-metatitle="BAR Magazine: Issue 001" data-next="editorsnote">
            <div class="pageContent">
            <h3>BAR Magazine: Issue 001</h3>
            <p><strong>Who Will Be Crowned Champion?</strong><br />An inside Look at the 2013 World Food Championships with host Ben Vaughn</p>
            <p><strong>Industry Fashion</strong><br />Hakkasan</p>
            <p><strong>Jedi Bartender?</strong><br />Tobin Ellis</p>
            <p><strong>Scotch Defined</strong></p>
            <p><strong>Getting to Know Tony Gemignani</strong></p>
            <p>&nbsp;</p>
            </div><!-- End pageContent -->
       <div data-role="content">
            <img src="images/BAR-Issue001-pilot-1.jpg" width="768" height="1024" border="0"/>
       </div>
</div>