<div data-role="page" class="demo-page" id="toc1" data-dom-cache="true" style="background-color:#ffffff !important;" data-metatitle="BAR Magazine: Table of Contents 1 of 2" data-prev="editorsnote" data-next="toc2">
  <div class="pageContent">
    <h3>Table of Contents (1 of 2)</h3>
    <p><a href="what1.html"><strong>What?!</strong><br />What people are saying in and about the industry</a></p>
    <p><a href="dcapitator.html"><strong>How Did We Live Without It:The D-Capitator</strong><br />
There is no reason not to use the first ever hand strap bottle opener</a></p>
    <p><a href="barage1.html"><strong>The Best Bar in the World: The Barage</strong><br />
Joe Brooke explains why the best bar is the one your friends are in</a></p>
    <p><a href="bartendercorner.html"><strong>Fancy Bartender Corner: Raul Mendoza</a></strong><a href="bartendercorner"><br />
Because life is too short to drink vodka & soda</a></p>
    <p><a href="drunktank1.html"><strong>The Drunk Tank: Hum Spirit</strong><br />
A spotlight on the cause and cure of all life’s problems with mixologist Adam Seger</a></p>
    <p><a href="uniform1.html"><strong>Uniform Check: Barbara Bell</strong><br />
Making sure everyone is properly dressed for work with the uniform designer of Hakkasan Las Vegas</a></p>
    <p><a href="pizza1.html"><strong>Getting to Know Your Pizza Maker</strong><br />
The “let’s talk about anything besides work” interview with International Pizza Champion Tony Gemignani</a></p>
    <p>&nbsp;</p>
  </div><!-- End pageContent -->
  <div data-role="content">
    <img src="images/BAR-Issue001-pilot-3.jpg" width="768" height="1024" usemap="#Map" border="0"/>
    <map name="Map" id="Map">
      <area shape="poly" coords="53,161,572,157,573,222,226,228,184,327,97,337,44,265" href="what1.html" onclick="blur();" />
      <area shape="poly" coords="197,352,231,240,566,240,572,353" href="dcapitator.html" onclick="blur();" />
      <area shape="poly" coords="60,367,706,365,711,619,536,621,442,455,64,454" href="barage1.html" onclick="blur();" />
      <area shape="rect" coords="67,465,438,557" href="bartendercorner.html" onclick="blur();" />
      <area shape="rect" coords="73,568,496,659" href="drunktank.html" onclick="blur();" />
      <area shape="poly" coords="46,672,679,674,678,785,321,789,293,946,46,945" href="uniform1.html" onclick="blur();" />
      <area shape="rect" coords="325,801,679,910" href="pizza1.html" onclick="blur();" />
    </map>
  </div>
</div>
