<div data-role="page" class="demo-page c1" id="toc2" data-dom-cache="true"
data-metatitle="BAR Magazine: Table of Contents 2 of 2" data-prev="toc1" data-next=
"ad1">
  <div class="pageContent">
    <h3>Table of Contents (1 of 2)</h3>
    <p>&nbsp;</p>
  </div><!-- End pageContent -->

  <div data-role="content">
    <img src="images/BAR-Issue001-pilot-4.jpg" width="768" height="1024" usemap="#Map"
    border="0" /> <map name="Map" id="Map">
      <area shape="rect" coords="74,129,393,222" href="somethingdifferent1.html"
      onclick="blur();" />
      <area shape="poly" coords="75,237,456,238,462,148,657,145,656,323,66,329" href=
      "restaurantathome.html" onclick="blur();" />
      <area shape="poly" coords=
      "67,340,685,346,686,442,268,440,248,490,181,545,71,533,47,439" href="wfc1.html"
      onclick="blur();" />
      <area shape="poly" coords="273,454,252,518,227,549,681,559,681,452" href=
      "scotch1.html" onclick="blur();" />
      <area shape="poly" coords="67,576,66,660,236,662,528,632,653,637,677,582" href=
      "jedi1.html" onclick="blur();" />
      <area shape="poly" coords="65,679,60,820,366,818,368,671" href=
      "operatorsstudio.html" onclick="blur();" />
      <area shape="poly" coords="59,839,64,943,688,951,685,654,520,639,404,669,381,837"
      href="trends1.html" onclick="blur();" />
    </map>
  </div>
</div>