<div data-role="page" class="demo-page c1" id="what1" data-dom-cache="true"
  data-metatitle="BAR Magazine: What?!" data-prev="ad1" data-next="what2">
  <div class="pageContent">
      <h3>What people are saying in and about the industry</h3>

      <p><em>"Finding the happiness and finding the satisfaction and finding fulfillment
      in continuously serving somebody else something good to eat."</em><br>
      MARIO BATALI<br>
      On what makes a truly good restaurant</p>

      <p><em>"I gain five pounds every time I go in there."</em><br>
      LADY GAGA<br>
      On her father's restaurant</p>

      <p><em>"Even if we give parents all the information they need and we improve school
      meals and build brand new supermarkets on every corner, none of that matters if
      when families step into a restaurant, they can&rsquo;t make a healthy
      choice."</em><br>
      MICHELLE OBAMA</p>

      <p>&nbsp;</p>
    </div><!-- End pageContent -->

  <div data-role="content">
      <img src="images/BAR-Issue001-pilot-6.jpg" width="768" height="1024" usemap="#Map"
      border="0"> <map name="Map" id="Map">
        <area shape="rect" coords="87,991,157,1003" href=
        "http://commons.wikimedia.org/w/index.php?title=User:Jimmy_Johansson&amp;action=edit&amp;redlink=1"
        target="_blank" onclick="blur();">
        <area shape="rect" coords="231,992,284,1002" href=
        "file:///Users/elliot/Desktop/shiftdrink/BAR/issue%201/20120524-OSEC-LSC-011.JPG"
        target="_blank" onclick="blur();">
        <area shape="rect" coords="357,992,429,1004" href=
        "http://www.flickr.com/people/58820009@N05" target="_blank" onclick="blur();">
        <area shape="rect" coords="225,1003,305,1013" href=
        "http://www.flickr.com/photos/sharongraphics/" target="_blank" onclick="blur();">
      </map>
    </div>
</div>