<div data-role="page" class="demo-page c1" id="what1" data-dom-cache="true"
  data-metatitle="BAR Magazine: What?!" data-prev="what1" data-next="dcapitator">
    <div class="pageContent">
      <h3>What people are saying in and about the industry</h3>

      <p><em>"Where you come up with the funny stuff is usually at a bar."</em><br>
      TREY PARKER<br>
      Creator of <em>South Park</em> on the secrets of his creative process</p>

      <p><em>"A girl came up to me in a bar and said she wanted to be my apple pie... I
      wish I&rsquo;d said something cool, but I was stunned."</em><br>
      JASON BIGGS Actor (<em>American Pie</em>)</p>

      <p><em>"The idea of regretting not doing this seemed insane to me. Sittingin the
      corner at a bar at age 60, saying: 'I could&rsquo;ve been Bond. Buy me a drink.'
      That&rsquo;s the saddest place I could be... At least now at 60 I can say: 'I was
      Bond. Now buy me a drink.'</em><br>
      DANIEL CRAIG<br>
      Aactor</p>

      <p>&nbsp;</p>
    </div><!-- End pageContent -->

    <div data-role="content"><img src="images/BAR-Issue001-pilot-7.jpg" width="768"
    height="1024" border="0"></div>
  </div>