html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body {
  background: white;
}

body {
  color: #333333;
  font-family: "Helvetica Neue", Hevetica, Arial, sans-serif;
  font-size: 110%;
  line-height: 1.4;
}

.links a:link, .content a:link, section[role=main] > article a:link {
  color: #bb3a08;
  text-decoration: underline;
}
.links a:visited, .content a:visited, section[role=main] > article a:visited {
  color: #aa7722;
}
.links a:hover, .content a:hover, section[role=main] > article a:hover {
  color: #f66933;
  text-decoration: none;
}
.links a.more, .content a.more, section[role=main] > article a.more {
  white-space: nowrap;
}
.links a.more:after, .content a.more:after, section[role=main] > article a.more:after {
  content: " »";
}

.typography strong, .content strong, section[role=main] > article strong, .typography b, .content b, section[role=main] > article b {
  color: black;
  font-weight: bold;
}
.typography em, .content em, section[role=main] > article em, .typography i, .content i, section[role=main] > article i {
  font-style: italic;
}
.typography abbr, .content abbr, section[role=main] > article abbr, .typography acronym, .content acronym, section[role=main] > article acronym {
  border-bottom: 1px dotted #999999;
}
.typography sub, .content sub, section[role=main] > article sub, .typography sup, .content sup, section[role=main] > article sup {
  font-size: 85%;
}
.typography sub, .content sub, section[role=main] > article sub {
  vertical-align: sub;
}
.typography sup, .content sup, section[role=main] > article sup {
  vertical-align: super;
}
.typography span.caps, .content span.caps, section[role=main] > article span.caps {
  font-size: 95%;
}
.typography h1, .content h1, section[role=main] > article h1, .typography h2, .content h2, section[role=main] > article h2, .typography h3, .content h3, section[role=main] > article h3, .typography h4, .content h4, section[role=main] > article h4, .typography h5, .content h5, section[role=main] > article h5, .typography h6, .content h6, section[role=main] > article h6 {
  color: #111111;
  margin: 1em 0;
}
.typography h1, .content h1, section[role=main] > article h1 {
  font-weight: bold;
  font-size: 200%;
  line-height: 1.099;
  margin: 0.75em 0;
}
.typography h2, .content h2, section[role=main] > article h2 {
  font-weight: bold;
  font-size: 170%;
  line-height: 1.099;
}
.typography h3, .content h3, section[role=main] > article h3 {
  font-weight: bold;
  font-size: 140%;
  line-height: 1.169;
  margin: 1.25em 0 0.5em;
}
.typography h4, .content h4, section[role=main] > article h4 {
  font-weight: bold;
  font-size: 110%;
  line-height: 1.26;
  margin: 0.5em 0 0.5em;
}
.typography h5, .content h5, section[role=main] > article h5 {
  font-style: italic;
  font-size: 110%;
  line-height: 1.4;
  margin: 0.65em 0;
}
.typography h6, .content h6, section[role=main] > article h6 {
  font-weight: bold;
  margin-bottom: -0.75em;
}
.typography p, .content p, section[role=main] > article p {
  margin: 1em 0;
}
.typography ul, .content ul, section[role=main] > article ul, .typography ol, .content ol, section[role=main] > article ol, .typography dl, .content dl, section[role=main] > article dl {
  margin-top: 1em;
  margin-bottom: 1em;
}
.typography ul, .content ul, section[role=main] > article ul, .typography ol, .content ol, section[role=main] > article ol, .typography dd, .content dd, section[role=main] > article dd {
  padding-left: 2.25em;
}
.typography ul, .content ul, section[role=main] > article ul {
  list-style: disc;
}
.typography ol, .content ol, section[role=main] > article ol {
  list-style: decimal;
}
.typography li, .content li, section[role=main] > article li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.typography dt, .content dt, section[role=main] > article dt {
  margin-top: 1em;
}
.typography dd, .content dd, section[role=main] > article dd {
  margin-bottom: 1em;
}
.typography code, .content code, section[role=main] > article code, .typography dfn, .content dfn, section[role=main] > article dfn, .typography kbd, .content kbd, section[role=main] > article kbd, .typography samp, .content samp, section[role=main] > article samp, .typography tt, .content tt, section[role=main] > article tt {
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace;
  font-size: 95%;
  color: #666666;
}
.typography pre, .content pre, section[role=main] > article pre {
  background: #666666;
  color: #cccccc;
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace;
  font-size: 95%;
  line-height: 1.4;
  margin: 1.5em 0;
  padding: 1em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.content .box, section[role=main] > article .box {
  background: #efeacf;
  border: 1px solid #e2d9a9;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin: 1.5em -1em;
  padding: 1px 1em;
}

header[role=banner] {
  background: #973b12;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.15))), -webkit-gradient(radial, 30% 50px, 0, 30% 50px, 400, color-stop(0%, #973b12), color-stop(100%, #65270c));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.15) 100%), -webkit-radial-gradient(30% 50px, #973b12, #65270c 400px);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.15) 100%), -moz-radial-gradient(30% 50px, #973b12, #65270c 400px);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.15) 100%), -o-radial-gradient(30% 50px, #973b12, #65270c 400px);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(30% 50px, #973b12, #65270c 400px);
  padding: 20px 15%;
  position: relative;
}
header[role=banner] a:link {
  color: #ead7cf;
  text-decoration: none;
}
header[role=banner] a:visited {
  color: #ead7cf;
}
header[role=banner] a:hover {
  color: white;
  text-decoration: underline;
}
header[role=banner] .action-link {
  position: absolute;
  right: 15%;
  top: 55px;
}
header[role=banner] .action-link a {
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  display: block;
  padding: 0.5em 1em;
  text-shadow: #4b1d09 0 1px 0;
}
header[role=banner] .action-link a:after {
  content: " ⇢";
}

section[role=main] {
  padding: 1px 15%;
}

body > footer {
  padding: 0 15% 20px;
  font-size: 90%;
  color: gray;
}
body > footer a:link {
  color: #333333;
  text-decoration: underline;
}
body > footer a:visited {
  color: #333333;
}
body > footer a:hover {
  color: #333333;
  text-decoration: none;
}
body > footer p {
  margin: 1em 0;
}

* {
  -webkit-user-select: none;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-out:before {
  content: "\e603";
}

.icon-cross:before {
  content: "\e602";
}

.icon-arrow-right:before {
  content: "\e600";
}

.icon-arrow-left:before {
  content: "\e601";
}

.icon-list:before {
  content: "\e606";
}

.icon-minus:before {
  content: "\e604";
}

.icon-plus:before {
  content: "\e605";
}

.icon-facebook:before {
  content: "\e607";
}

.icon-twitter:before {
  content: "\e608";
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #353535;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #353535;
}

.ui-page {
  min-height: 520px;
  position: absolute;
  height: 100% !important;
  width: 100%;
  margin: 0;
  padding: 0;
}

.ui-content {
  width: 100%;
  border: none;
  padding: 0 !important;
  margin: 0;
}

.ui-content img {
  width: 100%;
  height: auto;
  border: none;
  padding: 0;
}

.ui-header, .ui-footer {
  display: none;
}

.ui-body-c, .ui-overlay-c {
  background: none !important;
}

.warning {
  background-color: #fff;
  padding: 20px;
  width: 120px;
  text-align: center;
  font-size: 14px;
  position: absolute;
  left: 50%;
  margin: -30px 0 0 -80px;
  top: 50%;
  opacity: 0;
  display: none;
  border-radius: 6px;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.bottom {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-image: url(../images/bg1.png);
  color: #313131;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.bottom .btn {
  padding: 10px 40px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  bottom: 2px;
  line-height: 32px;
  font-size: 28px;
  color: #999;
  cursor: pointer;
  text-shadow: none;
}

.bottom .btn > div {
  padding: 0 10px;
  display: inline-block;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bottom .btn > div:hover {
  color: #5fa099;
}

.bottom a:active {
  color: #5fa099;
}

.sharebox {
  background-image: url(../images/bg1.png);
  padding: 20px;
  width: 200px;
  height: 90px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -120px;
  bottom: 0px;
  float: left;
  border-radius: 6px;
  z-index: 100;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  color: #999;
}

.sharebox a {
  height: 40px;
  background: none;
  display: block;
  line-height: 40px;
  background-color: none;
  border: none;
  color: #999;
  text-decoration: none;
  text-transform: none;
  font-weight: 300;
  font-size: 16px;
  padding: 0px 8px;
  margin-bottom: 9px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  cursor: pointer;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sharebox a span {
  font-size: 28px;
  vertical-align: -5px !important;
  padding-right: 5px;
}

.sharebox a:hover {
  color: #5fa099;
}

.hidden {
  position: fixed;
  float: right;
  bottom: -52px;
  line-height: 32px;
  font-size: 21px;
  cursor: pointer;
  text-align: right;
  padding: 6px 8px 10px 15px;
  right: 0px;
  z-index: 2;
  color: #999;
  text-shadow: none;
}

.hide-btn {
  padding: 6px 8px 7px 15px;
  position: absolute;
  float: right;
  text-align: right;
  right: 0;
  top: 0;
  line-height: 32px;
  font-size: 21px;
  color: #999;
  cursor: pointer;
}

.pageContent {
  width: 100%;
  height: 100%;
  background-image: url(../images/bg1.png);
  overflow: scroll;
  display: none;
  position: absolute;
  float: left;
  top: 0;
  left: 0;
}

.pageContent p, .pageContent h2, .pageContent h3, .pageContent h4, .pageContent h1 {
  padding-left: 20px;
  padding-right: 20px;
}

.green {
  color: #5fa099;
}

.disabled {
  color: #f4f4f4;
  cursor: default;
}

.big-page {
  display: none;
  visibility: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
  float: left;
  top: 0;
  left: 0;
}

.nav-disabled {
  color: #FFF !important;
  opacity: 0.2;
  cursor: default !important;
  filter: alpha(opacity=20);
}

#Map {
  outline: none;
}

area {
  border: none;
  outline: none;
}

@media screen and (orientation: portrait) {
  .ui-page {
    opacity: 1 !important;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
  }

  .warning {
    display: none;
    opacity: 0;
  }
}
@media only screen and (max-width: 800px) and (orientation: landscape) {
  .ui-page {
    opacity: 0 !important;
  }

  .warning {
    display: block;
    opacity: 1;
  }
}
@media only screen and (min-width: 801px) and (orientation: landscape) {
  .ui-page {
    opacity: 1 !important;
  }

  .warning {
    display: none;
    opacity: 0;
  }

  .ui-page {
    min-height: none;
    position: absolute;
    max-width: none;
    height: 100% !important;
    width: 100%;
    margin: 0 auto !important;
    padding: 0;
  }

  .ui-content {
    width: auto;
    max-width: none;
    min-width: none;
    height: 90%;
    border: none;
    padding: 0 !important;
    margin: 2% auto 0 auto !important;
  }

  .ui-content img {
    width: auto;
    height: 100%;
    border: none;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .ui-header, .ui-footer {
    display: none;
  }

  .big-page {
    display: block;
    visibility: visible;
  }
}
.nbs-flexisel-container {
  position: relative;
  max-width: 100%;
}

.nbs-flexisel-ul {
  position: relative;
  width: 9999px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}

.nbs-flexisel-inner {
  overflow: hidden;
  float: left;
  width: 100%;
  background: #fcfcfc;
  background: #fcfcfc -moz-linear-gradient(top, #fcfcfc 0%, #eeeeee 100%);
  /* FF3.6+ */
  background: #fcfcfc -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */
  background: #fcfcfc -webkit-linear-gradient(top, #fcfcfc 0%, #eeeeee 100%);
  /* Chrome10+,Safari5.1+ */
  background: #fcfcfc -o-linear-gradient(top, #fcfcfc 0%, #eeeeee 100%);
  /* Opera11.10+ */
  background: #fcfcfc -ms-linear-gradient(top, #fcfcfc 0%, #eeeeee 100%);
  /* IE10+ */
  background: #fcfcfc linear-gradient(top, #fcfcfc 0%, #eeeeee 100%);
  /* W3C */
}

.nbs-flexisel-item {
  float: left;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  position: relative;
  line-height: 0px;
}

.nbs-flexisel-item img {
  width: 100%;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 195px;
  height: 102px;
}

/*** Navigation ***/
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
  width: 22px;
  height: 22px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  opacity: 0.5;
}

.nbs-flexisel-nav-right {
  right: 5px;
}

.nbs-flexisel-nav-left {
  left: 5px;
}

nav#thumb-nav-wrap {
  position: relative;
  z-index: 17;
}

#thumb-menu {
  position: relative;
  z-index: 17;
  padding: 10px 20px;
  clear: both;
  width: 100%;
  background: #eee;
  text-align: center;
  border: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
}
