nav#thumb-nav-wrap {
  position:relative;
  z-index:17;
}
#thumb-menu {
   position:relative;
   z-index:17;
   height:30px;
   clear:both;
   width:100%;
   background:#eee;
   text-align:center;
   border: 1px solid #ccc;
   border-left: 0;
   border-right: 0;
   #thumbnail-toggle {
    position:absolute;
    top:20px;
    background:#eee;
    font-size:10px;
    font-family:Arial;
    font-weight:bold;
    text-transform:uppercase;
    padding:11px 10px 1px 10px;
    left:50%;
    color:#a1a1a1;
    &:hover {
      cursor:pointer;
    }
    &:before, &:after  {
      background:#eee url('../images/up.png') no-repeat center;
      content: '';
      height: 5px;
      width: 14px;
      display: inline-block;
    }
    &:before {
      background-position:left;
    }
    &:after {
      background-position:right;
    }
    
   }
 }