nav#thumb-nav-wrap {
  position:relative;
  z-index:17;
  #thumb-menu {
    padding:10px 20px;
    clear:both;
    width:100%;
    background:#eee;
    text-align:center;
    #thumbnail-toggle {
    }
  }
}