nav#thumb-nav-wrap {
  position:relative;
  z-index:17;
}
#thumb-menu {
   position:relative;
   z-index:17;
   height:30px;
   clear:both;
   width:100%;
   background:#eee;
   text-align:center;
   border: 1px solid #ccc;
   border-left: 0;
   border-right: 0;
   #thumbnail-toggle {
    position:absolute;
    top:20px;
    background:#eee;
    font-size:10px;
    font-family:Arial;
    font-weight:bold;
    text-transform:uppercase;
    padding:10px 20px;
    left:50%;
    &:before, &:after  {
      background:#eee url('../images/up.png') no-repeat;
      content: '';
      height: 5px;
      width: 8px;
      display: inline-block;
    }
   }
 }